<html>
<body>
<form #form="ngForm" autocomplete="on" (submit)="onSubmit(form)">
    <div class="form-group">
        <input type="hidden" name="ID" [value]="service.FormData.id">

        <label>User Name</label>
        <input name="UserName" #UserName="ngModel" [(ngModel)]="service.FormData.UserName" class="form-control" placeholder="Enter name" required><br>
        <div *ngIf="UserName.invalid && (UserName.dirty|| UserName.touched)"
         class="alert alert-danger">
         <div *ngIf="UserName.errors.required">
            User Name is required.
          </div>
        </div>       
        
        <label>Email</label>
        <input name="Email" #Email="ngModel" [(ngModel)]="service.FormData.Email" class="form-control" placeholder="Enter Email" required><br>
        <div *ngIf="Email.invalid && (Email.dirty || Email.touched)"
         class="alert alert-danger">
         <div *ngIf="Email.errors.required">
            Email is required.
          </div>
        </div>

     
        <label>UserType</label>
        <input name="Email" #UserType="ngModel" [(ngModel)]="service.FormData.UserType" class="form-control" placeholder="Enter UserType" required><br>
        <div *ngIf="UserType.invalid && (UserType.dirty || UserType.touched)"
         class="alert alert-danger">
         <div *ngIf="UserType.errors.required">
            UserType is required.
          </div>
        </div>



        <label>Password</label>
        <input type="password" name="Password" maxlength="10" #Password='ngModel' [(ngModel)]="service.FormData.Password" class="form-control" placeholder="Enter Password" required><br>
        <div *ngIf="Password.invalid && (Password.dirty || Password.touched)"
         class="alert alert-danger">
        <div *ngIf="Password.errors.required">Password is required.</div>           
        </div>


        <label>Profile</label>
        
        <img id="profile_pic"name="profile_pic" style="height:150px;width:150px;border-radius:50%;" [src]="imageUrl"  > 
              <input type="file" name="Profile"  #Profile='ngModel' [(ngModel)]="service.FormData.Profile" class="form-control" (change)="handleFileInput($event.target.files)" ><br>
              <div *ngIf="Profile.invalid && (Profile.dirty || Profile.touched)"
               class="alert alert-danger">
                <div *ngIf="Profile.errors.required">
                   Please select any one image.
                </div> 
                </div>
    
        <input type="hidden" name="Status" [value]="service.FormData.Status">

        <button type="submit" [disabled]="form.invalid" class="btn btn-primary" click=onSubmit >Submit</button><br><br>

     

      </div>
    </form>
    
</body>
</html>
