<!-- <html>
  <style>
    .loginbox{
      border-radius: 11px;
    width: 316px;
    background: antiquewhite;
    padding: 25px;
    margin-left: 389px;
    border: 1px solid darkgrey;
    }
    .formboxbg{
      background-color: blanchedalmond;
    }
  </style>
<body>
<form #form="ngForm" class="formboxbg" autocomplete="on"  (submit)="onSubmit(Email.value,Password.value)" >
    <div class="form-group loginbox">
        <label>Email</label>
        <input type="text" #Email ngModel name="Email" formcontrolName="email" class="form-control" placeholder="Enter Email" required><br>
        <div *ngIf="Email.invalid && (Email.dirty || Email.touched)"
         class="alert alert-danger">
         <div *ngIf="Email.errors.required">
            Email is required.
          </div>
        </div>

        <label>Password</label>
        <input type="password" maxlength="10" formcontrolName="Password"  #Password ngModel name="Password"  class="form-control" placeholder="Enter Password" required><br>
        <div *ngIf="Password.invalid && (Password.dirty || Password.touched)"
        class="alert alert-danger">
       <div *ngIf="Password.errors.required">Password is required.</div>           
       </div>
       <div style="color:blue;">
             <a routerLink="/forgotpassword" style="color: blue;">ForgotPassword??</a>
       </div>

        <button type="submit" [disabled]="form.invalid" class="btn btn-primary" style="width: 100%">Submit</button>
        <div style="color:blue;">
          Don't have an account??<a routerLink="/registration" style="color: red;">Register</a>
         </div>
         <div style="color:blue;">
          Add Blog??<a routerLink="/blog" style="color: red;">BLOG</a>
         </div>
         <div style="color:blue;">
          Add Blog??<a routerLink="/faq" style="color: red;">FAQ</a>
         </div>
         <div style="color:blue;">
          Add Testimonial??<a routerLink="/testimonial" style="color: red;">Testimonial</a>
         </div>
    </div>
</form>
</body>
</html>
 -->
 <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="">
    <title>CMS</title>
    <link href="assets/favicon.png" rel="icon">
    <link href="~/image/apple-touch-icon.png" rel="apple-touch-icon">
    <link href="/theme/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="/theme/css/style.css" rel="stylesheet" />
    <link href="/theme/css/style-responsive.css" rel="stylesheet" />
</head>

<body>   
    <div id="pageload" style="display:none; margin-left: -9%; width: 100%;height: 100%;top: 0;position: fixed;z-index: 99999;padding-left: 50%; background-color:rgba(0, 0, 0, 0.4); padding-top: 15%;padding-left: 45%;">
        <img style="width: 25%;" src="~/image/loading_1.gif" />
    </div>

    <div id="login-page">
        <div class="container">
          <form class="form-login formboxbg" #form="ngForm" autocomplete="on"  (submit)="onSubmit(Email.value,Password.value)">
                <h2 class="form-login-heading">sign in now</h2>
                <div class="login-wrap">
                  <input type="text" #Email ngModel name="Email" formcontrolName="email" class="form-control" placeholder="Enter Email" required><br>
                  <div *ngIf="Email.invalid && (Email.dirty || Email.touched)"
                   class="alert alert-danger">
                   <div *ngIf="Email.errors.required">
                      Email is required.
                    </div>
                  </div>       
                <input type="password" maxlength="10" formcontrolName="Password"  #Password ngModel name="Password"  class="form-control" placeholder="Enter Password" required><br>
                <div *ngIf="Password.invalid && (Password.dirty || Password.touched)"
                class="alert alert-danger">
               <div *ngIf="Password.errors.required">Password is required.</div>           
               </div>
                    <label class="checkbox" style="margin-left:20px">
                        <input style="display:none;" type="checkbox" value="remember-me" id="remember">
                        <span class="pull-right" style="margin-right: 10px !important">
                          <div style="color:blue;">
                            Don't have an account??<a routerLink="/registration" style="color: red;">Register</a>
                           </div>
                           <!-- <div style="color:blue;">
                            Add Blog??<a routerLink="/blog" style="color: red;">BLOG</a>
                           </div>
                           <div style="color:blue;">
                            Add FAQ??<a routerLink="/faq" style="color: red;">FAQ</a>
                           </div>
                           <div style="color:blue;">
                            Add Testimonial??<a routerLink="/testimonial" style="color: red;">Testimonial</a>
                           </div> -->
                        </span>
                    </label>
                    <button type="submit" [disabled]="form.invalid" class="btn btn-theme btn-block" id="LoginButton"><i class="fa fa-lock"></i> SIGN IN</button>
                    <hr>
                    <div class="login-social-link">

                        <p id="invalidEmail" class="field-validation-error" style="display:none;color:red">Please enter email address</p>
                        <p id="invalidPassword" class="field-validation-error" style="display:none;color:red">Please enter password</p>
                        <p id="invalidLogin" class="field-validation-error" style="display:none;color:red">Invalid email and password</p>
                        <p id="invalidEmailTo" class="field-validation-error" style="display:none;color:red">Please enter valid Email address.</p>
                    </div>
                </div>
        
                <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                           
                            </div>
                            <div class="modal-body">
                                <p>Enter your e-mail address below to reset your password.</p>
                                <input id="Email_txt" type="text" name="email" maxlength="125" placeholder="Email" autocomplete="off" class="form-control placeholder-no-fix"><br />
                                <span id="invalidEmailToForgotPass2" class="field-validation-error" style="display:none;color:red">Email address not found.</span><br />
                                <span id="invalidEmailToForgotPass" class="field-validation-error" style="display:none;color:red">Please enter valid Email address.</span> <br />
                            </div>
                            <div class="modal-footer">
                                <button data-dismiss="modal" class="btn btn-default" type="button">Cancel</button>
                                <button class="btn btn-theme" type="button" onclick="return FindAccount()">Submit</button>
                            </div>
                            <br />
                            <div class="login-social-link">
                            </div>
                        </div>
                    </div>
                </div>
      
            </form>
        </div>
    </div>  
</body>

