<style>
    #sidebar{
        float:left;   
        margin-left:-8rem;
    }   
    .centered{
       padding: 5px; 
       margin-top:-2rem;
    }
    .centered1{
        margin-bottom:-1rem;
        margin-left:4rem;
    } 
    .faq{
      margin-bottom:-10rem;
    }
     .logout {
        background-color: #4CAF50;
    }
    </style>
    <header class="header black-bg">

        <a href="index.html" class="logo"><b><span>ANGULAR</span></b></a>      
        <div class="top-menu">
          <ul class="nav pull-right top-menu">
          </ul>
        </div>
      </header>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="Dashboard">
        <meta name="keyword" content="">
        <title>CMS</title>
        <link href="assets/favicon.png" rel="icon">
        <link href="~/image/apple-touch-icon.png" rel="apple-touch-icon">
        <link href="/theme/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
        <link href="/theme/css/style.css" rel="stylesheet" />
        <link href="/theme/css/style-responsive.css" rel="stylesheet" />
    </head>
    <div  style="z-index: 1;"  id="sidebar" class="nav-collapse " tabindex="5" style="overflow: hidden; outline: none;">
        <ul class="sidebar-menu" id="nav-accordion">        
          <p class="centered"><a href="profile.html"><img src="assets/ui-sam.jpg" class="img-circle" width="80"></a></p>
          <h5 class="centered1">Ujjaval</h5>
       
          <li class="sub-menu dcjq-parent-li">
            <a href="javascript:;" class="dcjq-parent">
              <i class="fa fa-desktop"></i>
              <span routerLink="/faqs" class="faq">FAQ</span>
              <span class="dcjq-icon"></span></a>
            <ul class="sub" style="display: none;">
              <li><a href="general.html">General</a></li>
              <li><a href="buttons.html">Buttons</a></li>
              <li><a href="panels.html">Panels</a></li>
              <li><a href="font_awesome.html">Font Awesome</a></li>
            </ul>
          </li>
          <li class="sub-menu dcjq-parent-li">
            <a href="javascript:;" class="dcjq-parent">
              <i class="fa fa-desktop"></i>
              <span routerLink="/blogs">BLOG</span>
              <span class="dcjq-icon"></span></a>
            <ul class="sub" style="display: none;">
              <li><a href="general.html">General</a></li>
              <li><a href="buttons.html">Buttons</a></li>
              <li><a href="panels.html">Panels</a></li>
              <li><a href="font_awesome.html">Font Awesome</a></li>
            </ul>
          </li>
          <li class="sub-menu dcjq-parent-li">
            <a href="javascript:;" class="dcjq-parent">
              <i class="fa fa-desktop"></i>
              <span routerLink="/users">User</span>
              <span class="dcjq-icon"></span></a>
            <ul class="sub" style="display: none;">
              <li><a href="general.html">General</a></li>
              <li><a href="buttons.html">Buttons</a></li>
              <li><a href="panels.html">Panels</a></li>
              <li><a href="font_awesome.html">Font Awesome</a></li>
            </ul>
          </li>
          <li class="sub-menu dcjq-parent-li">
            <a href="javascript:;" class="dcjq-parent">
              <i class="fa fa-cogs"></i>
              <span  routerLink="/testimoniallist">Testimonial</span>
              <span class="dcjq-icon"></span></a>
            <ul class="sub" style="display: none;">
              <li><a href="grids.html">Grids</a></li>
              <li><a href="calendar.html">Calendar</a></li>
              <li><a href="gallery.html">Gallery</a></li>
              <li><a href="todo_list.html">Todo List</a></li>
              <li><a href="dropzone.html">Dropzone File Upload</a></li>
              <li><a href="inline_editor.html">Inline Editor</a></li>
              <li><a href="file_upload.html">Multiple File Upload</a></li>
            </ul>
          </li>    
        </ul>
      </div>