<html>
<body>
<form #form="ngForm" autocomplete="on" (submit)="onSubmit(form)">
    <div class="form-group">
        <input type="hidden" name="Id" [value]="service.FormData.id">

        <label>Question</label>
        <input name="Question" #Question="ngModel" [(ngModel)]="service.FormData.Question" class="form-control" placeholder="Enter Question" required><br>
        <div *ngIf="Question.invalid && (Question.dirty || Question.touched)"
         class="alert alert-danger">
         <div *ngIf="Question.errors.required">
            Question is required.
          </div>
        </div>     


        <label>Answers</label>

        <ckeditor  name="Answers" #Answers="ngModel" [(ngModel)]="service.FormData.Answers" data="<p>Hello, world!</p>"></ckeditor>
      <div *ngIf="Answers.invalid && (Answers.dirty || Answers.touched)"
         class="alert alert-danger">
         <div *ngIf="Description.errors.required">
            Answers is required.
          </div>
        </div> 



        <label>createdBy</label>
        <input name="createdBy" #createdBy="ngModel" [(ngModel)]="service.FormData.createdBy" class="form-control" placeholder="Enter createdBy" required><br>
        <div *ngIf="createdBy.invalid && (createdBy.dirty || createdBy.touched)"
         class="alert alert-danger">
         <div *ngIf="createdBy.errors.required">
            createdBy is required.
          </div>
        </div>


        <button type="submit" [disabled]="form.invalid" class="btn btn-primary" click=onSubmit >Submit</button><br><br>

     

      </div>
    </form>
    
</body>
</html>

