<!-- <html>
<body>
<form #form="ngForm" autocomplete="on" (submit)="onSubmit(form)">
    <div class="form-group">
        <input type="hidden" name="Id" [value]="service.FormData.Id">

        <label>BlogTitle</label>
        <input name="BlogTitle" #BlogTitle="ngModel" [(ngModel)]="service.FormData.BlogTitle" class="form-control" placeholder="Enter BlogTitle" required><br>
        <div *ngIf="BlogTitle.invalid && (BlogTitle.dirty || BlogTitle.touched)"
         class="alert alert-danger">
         <div *ngIf="BlogTitle.errors.required">
            BlogTitle is required.
          </div>
        </div>
      
        
        <label>Description</label>
        <input name="Description" #Description="ngModel" [(ngModel)]="service.FormData.Description" class="form-control" placeholder="Enter Description" required><br>
        <div *ngIf="Description.invalid && (Description.dirty || Description.touched)"
         class="alert alert-danger">
         <div *ngIf="Description.errors.required">
            Description is required.
          </div>
        </div>

        <label>MetaTitle</label>
        <input name="MetaTitle" #MetaTitle="ngModel" [(ngModel)]="service.FormData.MetaTitle" class="form-control" placeholder="Enter MetaTitle" required><br>
        <div *ngIf="MetaTitle.invalid && (MetaTitle.dirty || MetaTitle.touched)"
         class="alert alert-danger">
         <div *ngIf="MetaTitle.errors.required">
            MetaTitle is required.
          </div>
        </div>

        <label>MetaDescription</label>
        <input type="MetaDescription" name="MetaDescription" maxlength="10" #MetaDescription='ngModel' [(ngModel)]="service.FormData.MetaDescription" class="form-control" placeholder="Enter MetaDescription" required><br>
        <div *ngIf="MetaDescription.invalid && (MetaDescription.dirty || MetaDescription.touched)"
         class="alert alert-danger">
        <div *ngIf="MetaDescription.errors.required">MetaDescription is required.</div>           
        </div>

        
        <label>AuthorName</label>
        <input type="AuthorName" name="AuthorName" maxlength="10" #AuthorName='ngModel' [(ngModel)]="service.FormData.AuthorName" class="form-control" placeholder="Enter AuthorName" required><br>
        <div *ngIf="AuthorName.invalid && (AuthorName.dirty || AuthorName.touched)"
         class="alert alert-danger">
        <div *ngIf="AuthorName.errors.required">AuthorName is required.</div>           
        </div>

        <label>Status</label>
        <input type="Status" name="Status" maxlength="10" #Status='ngModel' [(ngModel)]="service.FormData.Status" class="form-control" placeholder="Enter Status" required><br>
        <div *ngIf="Status.invalid && (Status.dirty || Status.touched)"
         class="alert alert-danger">
        <div *ngIf="Status.errors.required">Status is required.</div>           
        </div>


        <label>Image</label>
        
        <img id="Image"name="Image" style="height:150px;width:150px;border-radius:50%;" [src]="imageUrl"  > 
              <input type="file" name="Image"  #Image='ngModel' [(ngModel)]="service.FormData.Image" class="form-control" (change)="handleFileInput($event.target.files)" ><br>
              <div *ngIf="Image.invalid && (Image.dirty || Image.touched)"
               class="alert alert-danger">
                <div *ngIf="Image.errors.required">
                   Please select any one image.
                </div> 
            </div>
    
    
    
        <input type="hidden" name="Status" [value]="service.FormData.Status">

        <button type="submit" [disabled]="form.invalid" class="btn btn-primary" click=onSubmit >Submit</button><br><br>

     

      </div>
    </form>
    
</body>
</html>
 -->

 <!DOCTYPE html>
<html lang="en">
<body>
  <section id="container">
    <section id="main-content">
      <section class="wrapper">
        <html>
          <body>
          <form #form="ngForm" autocomplete="on" (submit)="onSubmit(form)">
              <div class="form-group">
                  <input type="hidden" name="Id" [value]="service.FormData.Id">
          
                  <label>BlogTitle</label>
                  <input name="BlogTitle" #BlogTitle="ngModel" [(ngModel)]="service.FormData.BlogTitle" class="form-control" placeholder="Enter BlogTitle" required><br>
                  <div *ngIf="BlogTitle.invalid && (BlogTitle.dirty || BlogTitle.touched)"
                   class="alert alert-danger">
                   <div *ngIf="BlogTitle.errors.required">
                      BlogTitle is required.
                    </div>
                  </div>
                
                  
                  <label>Description</label>
                  <input name="Description" #Description="ngModel" [(ngModel)]="service.FormData.Description" class="form-control" placeholder="Enter Description" required><br>
                  <div *ngIf="Description.invalid && (Description.dirty || Description.touched)"
                   class="alert alert-danger">
                   <div *ngIf="Description.errors.required">
                      Description is required.
                    </div>
                  </div>
          
                  <label>MetaTitle</label>
                  <input name="MetaTitle" #MetaTitle="ngModel" [(ngModel)]="service.FormData.MetaTitle" class="form-control" placeholder="Enter MetaTitle" required><br>
                  <div *ngIf="MetaTitle.invalid && (MetaTitle.dirty || MetaTitle.touched)"
                   class="alert alert-danger">
                   <div *ngIf="MetaTitle.errors.required">
                      MetaTitle is required.
                    </div>
                  </div>
          
                  <label>MetaDescription</label>
                  <input type="MetaDescription" name="MetaDescription" maxlength="10" #MetaDescription='ngModel' [(ngModel)]="service.FormData.MetaDescription" class="form-control" placeholder="Enter MetaDescription" required><br>
                  <div *ngIf="MetaDescription.invalid && (MetaDescription.dirty || MetaDescription.touched)"
                   class="alert alert-danger">
                  <div *ngIf="MetaDescription.errors.required">MetaDescription is required.</div>           
                  </div>
          
                  
                  <label>AuthorName</label>
                  <input type="AuthorName" name="AuthorName" maxlength="10" #AuthorName='ngModel' [(ngModel)]="service.FormData.AuthorName" class="form-control" placeholder="Enter AuthorName" required><br>
                  <div *ngIf="AuthorName.invalid && (AuthorName.dirty || AuthorName.touched)"
                   class="alert alert-danger">
                  <div *ngIf="AuthorName.errors.required">AuthorName is required.</div>           
                  </div>
          
                  <label>Status</label>
                  <input type="Status" name="Status" maxlength="10" #Status='ngModel' [(ngModel)]="service.FormData.Status" class="form-control" placeholder="Enter Status" required><br>
                  <div *ngIf="Status.invalid && (Status.dirty || Status.touched)"
                   class="alert alert-danger">
                  <div *ngIf="Status.errors.required">Status is required.</div>           
                  </div>
          
          
                  <label>Image</label>
                  
                  <img id="Image"name="Image" style="height:150px;width:150px;border-radius:50%;" [src]="imageUrl"  > 
                        <input type="file" name="Image"  #Image='ngModel' [(ngModel)]="service.FormData.Image" class="form-control" (change)="handleFileInput($event.target.files)" ><br>
                        <div *ngIf="Image.invalid && (Image.dirty || Image.touched)"
                         class="alert alert-danger">
                          <div *ngIf="Image.errors.required">
                             Please select any one image.
                          </div> 
                      </div>
              
              
              
                  <input type="hidden" name="Status" [value]="service.FormData.Status">
          
                  <button type="submit" [disabled]="form.invalid" class="btn btn-primary" click=onSubmit >Submit</button><br><br>
           
                  <div style="color:blue;">
                   <a routerLink="/blogs" style="color: red;">Cancle</a>
                   </div>
               
          
                </div>
              </form>
              
          </body>
          </html>
  </section>



