<li class="mt">
  <a class="" href="index.html">
    <i class="blog"></i>
    <i class="fas fa-cloud" style="font-size:24px;"></i>
    <span >       <div style="color:blue;">
      <a routerLink="/faq" >FAQ</a>
       </div></span>
    </a>
</li>

<style>
    .btnregi{
      background: green;
      color: #e94c4c !important;
      float: right;
      margin-bottom: 21px;
      border-radius: 6px;
    }
    .headerbox{
      background: burlywood;
      color: black;
      font-weight: 700;
    }
    #header{
      margin-right: -60px;
    }
  </style>
  
  <h1 id="header" class="display-4 text-center headerbox" >FAQ Details</h1>
    <!-- <div style="text-align: left;">
      <a href="#" (click)="Logout()" routerLinkActive='active'>Logout</a><br>
    </div>  -->  

  
<!--   
  <div class="row">    
    <div class="col-12 col-md-">    
      <div class="card">    
        <div class="card-header">    
     
        </div>    
        <div class="card-body position-relative">    
          <div class="table-responsive cnstr-record companie-tbl">  
            
            <table class="table table-bordered heading-hvr" style="text-align:center;">    
              <thead>    
                <tr>    
                  <th style="cursor: pointer;"    
                     width="80">Id</th>    
                  <th style="cursor: pointer;"     
                     width="75">Question</th>    
                  <th  style="cursor: pointer;"    
                  width="75" >Answer    
                  </th>    
                  <th style="cursor: pointer;"     
                    width="75">status  
                  </th>    
                  <th style="cursor: pointer;"     
                  width="75">CreatedBY
                </th>  
                    <th  style="cursor: pointer; width:250px"    
                    width="75">Action</th>
                </tr>
              
              </thead>    
              <tbody  style="text-align:center;">    
                <tr *ngFor="let item of FAQ ">
                 
                  <td>{{item.id}}</td>                    
                  <td style="color:rgb(8, 168, 228);cursor: pointer;"  (click)="onEdit(item)">{{item.question}}</td>
                  <td id="ans_{{item.id}}">{{item.answers}}</td>  
                  <td><div><button type="button" class="btn btn-success">Active</button></div></td>              
                  <td>{{item.createdBy}}</td> 
                  <td>
                    <button type="Delete" style="margin:5px;"  class="btn btn-danger" (click)="onDelete(item.id)">Delete</button>                                

                   </td>            
                 
                 </tr>
                 
             
              </tbody>    
            </table>    
          </div>    
          <div class="container mw-100">    
            <div class="row">    
              <div class="col-md-3"> </div>    
              <div class="col-md-6">    
                <ul class="pagination justify-content-center">    
                  <li *ngFor="let page of pageField;let i=index" class="page-item">    
                    <a (click)="showCompaniesByPageNumber(page,i)" [ngClass]="pageNumber[i] ? 'pageColor':'page-link'"    
                      style=" margin-right: 5px;;margin-top: 5px">{{page}}</a>    
                  </li>    
                </ul>    
                <div style="text-align: center;">    
                  Page {{pageNo}} of Total page {{service.exactPageList}}  
                </div>    
              </div>    
            </div>    
          </div>    
        </div>    
      </div>    
    </div>     -->
<!DOCTYPE html>
<html lang="en">
<body>
  <section id="container">

    <section id="main-content">
      <div class="row">    
        <div class="col-12 col-md-">    
          <div class="card">    
            <div class="card-header">    
         
            </div>    
            <div class="card-body position-relative">    
              <div class="table-responsive cnstr-record companie-tbl">  
                
                <table class="table table-bordered heading-hvr" style="text-align:center;">    
                  <thead>    
                    <tr>    
                      <th style="cursor: pointer;"    
                         width="80">Id</th>    
                      <th style="cursor: pointer;"     
                         width="75">Question</th>    
                      <th  style="cursor: pointer;"    
                      width="75" >Answer    
                      </th>    
                      <th style="cursor: pointer;"     
                        width="75">status  
                      </th>    
                      <th style="cursor: pointer;"     
                      width="75">CreatedBY
                    </th>  
                        <th  style="cursor: pointer; width:250px"    
                        width="75">Action</th>
                    </tr>                  
                  </thead>    
                  <tbody  style="text-align:center;">    
                    <tr *ngFor="let item of FAQs">                     
                      <td>{{item.id}}</td>                    
                      <td style="color:rgb(8, 168, 228);cursor: pointer;"  (click)="onEdit(item)">{{item.question}}</td>
                      <td id="ans_{{item.id}}">{{item.answers}}</td>  
                      <td><div><button type="button" class="btn btn-success">Active</button></div></td>              
                      <td>{{item.createdBy}}</td> 
                      <td>
                        <button type="Delete" style="margin:5px;"  class="btn btn-danger" (click)="onDelete(item.id)">Delete</button>                               
                      </td>            
                     </tr>                 
                 
                  </tbody>    
                </table>    
              </div>    
              <div class="container mw-100">    
                <div class="row">    
                  <div class="col-md-3"> </div>    
                  <div class="col-md-6">    
                    <ul class="pagination justify-content-center">    
                      <li *ngFor="let page of pageField;let i=index" class="page-item">    
                        <a (click)="showCompaniesByPageNumber(page,i)" [ngClass]="pageNumber[i] ? 'pageColor':'page-link'"    
                          style=" margin-right: 5px;;margin-top: 5px">{{page}}</a>    
                      </li>    
                    </ul>    
                    <div style="text-align: center;">    
                      Page {{pageNo}} of Total page {{service.exactPageList}}  
                    </div>    
                  </div>    
                </div>    
              </div>    
            </div>    
          </div>    
        </div>



  
    
  