<style>
    .btnregi{
      background: green;
      color: #e94c4c !important;
      float: right;
      margin-bottom: 21px;
      border-radius: 6px;
    }
    .headerbox{
      background: burlywood;
      color: black;
      font-weight: 700;
    }
  </style>

    <!DOCTYPE html>
    <html lang="en">
    
    <body>
      <section id="container">
    
        <section id="main-content">
          <div class="row">    
            <div class="col-12 col-md-12">    
              <div class="card">    
                <div class="card-header">                 
                </div>    
                <div class="card-body position-relative">    
                  <div class="table-responsive cnstr-record companie-tbl">         
     
    
         <table class="table table-bordered heading-hvr" style="text-align:center;">    
         <thead>                          
            <div style="color:blue;">
              Add Blog??<a routerLink="/blog" style="color: red;">BLOG</a>
             </div>  
                        <tr>    
                          <th style="cursor: pointer;"    
                             width="80">Id</th>    
                          <th style="cursor: pointer;"     
                             width="75">BlogTitle</th>    
                          <th  style="cursor: pointer;"    
                            >Description    
                          </th>    
                          <th style="cursor: pointer;"     
                            width="75">MetaTitle  
                          </th>    
                          <th style="cursor: pointer;"     
                          width="75">MetaDescription  
                        </th>  
                        <th style="cursor: pointer;"     
                          width="75">AuthorName  
                        </th>
                        <th style="cursor: pointer;"     
                        width="75">Status  
                      </th>
                          <th  style="cursor: pointer; width:250px"    
                            >Image</th>                
                        </tr>
                      </thead>    
                      <tbody  style="text-align:center;">    
                        <tr *ngFor="let item of  Blog  ">
                         
                          <td>{{item.id}}</td>            
                          <td style="color:rgb(8, 168, 228);cursor: pointer;"  (click)="onEdit(item)">{{item.blogTitle}}</td>
                          <td>{{item.description}}</td>  
                          <td>{{item.metaTitle}}</td>  
                          <td>{{item.metaDescription}}</td> 
                          <td>{{item.authorName}}</td> 
                          <td><div><button type="button" class="btn btn-success">Active</button></div></td>  
                       
                          <td><div><img style="height:32px;width:32px;border-radius:20px;" src="{{item.image}}" /></div></td>                
                         
                        </tr>                         
                      </tbody>    
                    </table>    
                  </div>    
                  <div class="container mw-100">    
                    <div class="row">    
                      <div class="col-md-3"> </div>    
                      <div class="col-md-6">    
                        <ul class="pagination justify-content-center">    
                          <li *ngFor="let page of pageField;let i=index" class="page-item">    
                            <a (click)="showCompaniesByPageNumber(page,i)" [ngClass]="pageNumber[i] ? 'pageColor':'page-link'"    
                              style=" margin-right: 5px;;margin-top: 5px">{{page}}</a>    
                          </li>    
                        </ul>    
                        <div style="text-align: center;">    
                          Page {{pageNo}} of Total page {{service.exactPageList}}
          
                        </div>    
                      </div>    
                    </div>    
                  </div>    
                </div>    
              </div>    
            </div>

  