<!-- 
<style>
    .btnregi{
      background: green;
      color: #e94c4c !important;
      float: right;
      margin-bottom: 21px;
      border-radius: 6px;
    }
    .headerbox{
      background: burlywood;
      color: black;
      font-weight: 700;
    }
  </style>
  
  <h1 class="display-4 text-center headerbox">Testimonial Details</h1>
 
  <div style="text-align: left;">
    <a href="#" (click)="Logout()" routerLinkActive='active'>Logout</a><br>
  </div> 
  
  <div class="row">    
    <div class="col-12 col-md-12">    
      <div class="card">    
        <div class="card-header">    
     
        </div>    
        <div class="content-panel">    
          <div class="adv-table">             
            <table cellpadding="0" cellspacing="0" border="0" class="display table table-bordered" id="hidden-table-info">    
              <thead>    
                <tr>    
                  <th style="cursor: pointer;"    
                     width="80" class="hidden-phone">ID</th>    
                  <th style="cursor: pointer;"     
                     width="75" class="hidden-phone">Title</th>    
                     <th  style="cursor: pointer;"    
                     class="hidden-phone">Description    
                   </th> 
                  <th  style="cursor: pointer;"    
                  class="hidden-phone">Name    
                  </th>    
                  <th  style="cursor: pointer;"    
                  class="hidden-phone" >createdBy    
                </th>
                  <th  style="cursor: pointer;"    
                  class="hidden-phone" >Designation    
                  </th> 
                  <th style="cursor: pointer;"     
                    width="75" class="hidden-phone">status  
                  </th>    
                  <th  style="cursor: pointer; width:250px"    
                  class="hidden-phone" >Image</th>
                    <th  style="cursor: pointer; width:250px"    
                    class="hidden-phone">Action</th>
                </tr>
              
              </thead>    
              <tbody  style="text-align:center;">    
                <tr *ngFor="let item of Testimonial" class="gradeX">
                 
                  <td class="hidden-phone">{{item.id}}</td>              
                  <td style="color:rgb(8, 168, 228);cursor: pointer;"  (click)="onEdit(item)">{{item.title}}</td>
                  <td class="hidden-phone">{{item.description}}</td>  
                  <td class="hidden-phone">{{item.name}}</td> 
                  <td class="hidden-phone">{{item.createdBy}}</td> 
                  <td class="hidden-phone">{{item.designation}}</td> 
                  <td><div><button type="button" class="btn btn-success">Active</button></div></td>  
        
                  <td><div><img style="height:32px;width:32px;border-radius:20px;" src="{{item.image}}" /></div></td>
                  <td>
                    <button type="Delete" style="margin:5px;"  class="btn btn-danger" (click)="onDelete(item.id)">Delete</button>                                

                   </td>                  
                 
                </tr>    
             
              </tbody>    
            </table>    
          </div>    
          <div class="container mw-100">    
            <div class="row">    
              <div class="col-md-3"> </div>    
              <div class="col-md-6">    
                <ul class="pagination justify-content-center">    
                  <li *ngFor="let page of pageField;let i=index" class="page-item">    
                    <a (click)="showCompaniesByPageNumber(page,i)" [ngClass]="pageNumber[i] ? 'pageColor':'page-link'"    
                      style=" margin-right: 5px;;margin-top: 5px">{{page}}</a>    
                  </li>    
                </ul>    
                <div style="text-align: center;">    
                  Page {{pageNo}} of Total page {{service.exactPageList}}
  
                </div>    
              </div>    
            </div>    
          </div>    
        </div>    
      </div>    
    </div>    
  
    
   -->

<!-- 
   <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="">
    <title>CMS</title>
    <link href="assets/favicon.png" rel="icon">
    <link href="~/image/apple-touch-icon.png" rel="apple-touch-icon">
    <link href="/theme/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="/theme/css/style.css" rel="stylesheet" />
    <link href="/theme/css/style-responsive.css" rel="stylesheet" />
</head>

<body >
 <body >   
    <div id="pageload" style="display:none; margin-left: -9%; width: 100%;height: 100%;top: 0;position: fixed;z-index: 99999;padding-left: 50%; background-color:rgba(0, 0, 0, 0.4); padding-top: 15%;padding-left: 45%;">
        <img style="width: 25%;" src="~/image/loading_1.gif" />\
          </div>
          
          <div id="login-page"  >
        <div class="container">           
                <div class="login-wrap">
                  <table cellpadding="0" cellspacing="0" border="0" class="display table table-bordered" id="hidden-table-info">    
                    <thead>    
                      <tr>    
                        <th style="cursor: pointer;"    
                           width="80" class="hidden-phone">ID</th>    
                        <th style="cursor: pointer;"     
                           width="75" class="hidden-phone">Title</th>    
                           <th  style="cursor: pointer;"    
                           class="hidden-phone">Description    
                         </th> 
                        <th  style="cursor: pointer;"    
                        class="hidden-phone">Name    
                        </th>    
                        <th  style="cursor: pointer;"    
                        class="hidden-phone" >createdBy    
                      </th>
                        <th  style="cursor: pointer;"    
                        class="hidden-phone" >Designation    
                        </th> 
                        <th style="cursor: pointer;"     
                          width="75" class="hidden-phone">status  
                        </th>    
                        <th  style="cursor: pointer; width:250px"    
                        class="hidden-phone" >Image</th>
                          <th  style="cursor: pointer; width:250px"    
                          class="hidden-phone">Action</th>
                      </tr>                    
                    </thead>    
                    <tbody  style="text-align:center;">    
                      <tr *ngFor="let item of Testimonial" class="gradeX">                       
                        <td class="hidden-phone">{{item.id}}</td>              
                        <td style="color:rgb(8, 168, 228);cursor: pointer;"  (click)="onEdit(item)">{{item.title}}</td>
                        <td class="hidden-phone">{{item.description}}</td>  
                        <td class="hidden-phone">{{item.name}}</td> 
                        <td class="hidden-phone">{{item.createdBy}}</td> 
                        <td class="hidden-phone">{{item.designation}}</td> 
                        <td><div><button type="button" class="btn btn-success">Active</button></div></td>  
              
                        <td><div><img style="height:32px;width:32px;border-radius:20px;" src="{{item.image}}" /></div></td>
                        <td>
                          <button type="Delete" style="margin:5px;"  class="btn btn-danger" (click)="onDelete(item.id)">Delete</button>                                
      
                         </td>                  
                       
                      </tr>                    
                    </tbody>    
                  </table>    
                    <div class="login-social-link">

                        <p id="invalidEmail" class="field-validation-error" style="display:none;color:red">Please enter email address</p>
                        <p id="invalidPassword" class="field-validation-error" style="display:none;color:red">Please enter password</p>
                        <p id="invalidLogin" class="field-validation-error" style="display:none;color:red">Invalid email and password</p>
                        <p id="invalidEmailTo" class="field-validation-error" style="display:none;color:red">Please enter valid Email address.</p>
                    </div>
                </div>
        
                <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                           
                            </div>
                            <div class="modal-body">
                                <p>Enter your e-mail address below to reset your password.</p>
                                <input id="Email_txt" type="text" name="email" maxlength="125" placeholder="Email" autocomplete="off" class="form-control placeholder-no-fix"><br />
                                <span id="invalidEmailToForgotPass2" class="field-validation-error" style="display:none;color:red">Email address not found.</span><br />
                                <span id="invalidEmailToForgotPass" class="field-validation-error" style="display:none;color:red">Please enter valid Email address.</span> <br />
                            </div>
                            <div class="modal-footer">
                                <button data-dismiss="modal" class="btn btn-default" type="button">Cancel</button>
                                <button class="btn btn-theme" type="button" onclick="return FindAccount()">Submit</button>
                            </div>
                            <br />
                            <div class="login-social-link">
                            </div>
                        </div>
                    </div>
                </div>
      
           
        </div>
    </div>  
</body> -->

<!DOCTYPE html>
<html lang="en">
<body>
  <section id="container">

    <section id="main-content">
      <div class="row">    
        <div class="col-12 col-md-">    
          <div class="card">    
            <div class="card-header">    
         
            </div>    
            <div class="card-body position-relative">    
              <div class="table-responsive cnstr-record companie-tbl">  
                <div class="row">    
                  <div class="col-12 col-md-12">    
                    <div class="card">    
                      <div class="card-header">    
                   
                      </div>    
                      <div class="content-panel">    
                        <div class="adv-table">             
                          <table cellpadding="0" cellspacing="0" border="0" class="display table table-bordered" id="hidden-table-info">    
                            <thead>    
                              <tr>    
                                <th style="cursor: pointer;"    
                                   width="80" class="hidden-phone">ID</th>    
                                <th style="cursor: pointer;"     
                                   width="75" class="hidden-phone">Title</th>    
                                   <th  style="cursor: pointer;"    
                                   class="hidden-phone">Description    
                                 </th> 
                                <th  style="cursor: pointer;"    
                                class="hidden-phone">Name    
                                </th>    
                                <th  style="cursor: pointer;"    
                                class="hidden-phone" >createdBy    
                              </th>
                                <th  style="cursor: pointer;"    
                                class="hidden-phone" >Designation    
                                </th> 
                                <th style="cursor: pointer;"     
                                  width="75" class="hidden-phone">status  
                                </th>    
                                <th  style="cursor: pointer; width:250px"    
                                class="hidden-phone" >Image</th>
                                  <th  style="cursor: pointer; width:250px"    
                                  class="hidden-phone">Action</th>
                              </tr>
                            
                            </thead>    
                            <tbody  style="text-align:center;">    
                              <tr *ngFor="let item of Testimonial" class="gradeX">
                               
                                <td class="hidden-phone">{{item.id}}</td>              
                                <td style="color:rgb(8, 168, 228);cursor: pointer;"  (click)="onEdit(item)">{{item.title}}</td>
                                <td class="hidden-phone">{{item.description}}</td>  
                                <td class="hidden-phone">{{item.name}}</td> 
                                <td class="hidden-phone">{{item.createdBy}}</td> 
                                <td class="hidden-phone">{{item.designation}}</td> 
                                <td><div><button type="button" class="btn btn-success">Active</button></div></td>  
                      
                                <td><div><img style="height:32px;width:32px;border-radius:20px;" src="{{item.image}}" /></div></td>
                                <td>
                                  <button type="Delete" style="margin:5px;"  class="btn btn-danger" (click)="onDelete(item.id)">Delete</button>                                
              
                                 </td>                  
                               
                              </tr>    
                           
                            </tbody>    
                          </table>    
                        </div>    
                        <div class="container mw-100">    
                          <div class="row">    
                            <div class="col-md-3"> </div>    
                            <div class="col-md-6">    
                              <ul class="pagination justify-content-center">    
                                <li *ngFor="let page of pageField;let i=index" class="page-item">    
                                  <a (click)="showCompaniesByPageNumber(page,i)" [ngClass]="pageNumber[i] ? 'pageColor':'page-link'"    
                                    style=" margin-right: 5px;;margin-top: 5px">{{page}}</a>    
                                </li>    
                              </ul>    
                              <div style="text-align: center;">    
                                Page {{pageNo}} of Total page {{service.exactPageList}}
                
                              </div>    
                            </div>    
                          </div>    
                        </div>    
                      </div>    
                    </div>    
                  </div>  