<style>
    .btnregi{
      background: green;
      color: #e94c4c !important;
      float: right;
      margin-bottom: 21px;
      border-radius: 6px;
    }
    .headerbox{
      background: burlywood;
      color: black;
      font-weight: 700;
    }
  </style>

    <!DOCTYPE html>
    <html lang="en">
    
    <body>
      <section id="container">
    
        <section id="main-content">
          <div class="row">    
            <div class="col-12 col-md-12">    
              <div class="card">    
                <div class="card-header">                 
                </div>    
                <div class="card-body position-relative">    
                  <div class="table-responsive cnstr-record companie-tbl">         
     
    
         <table class="table table-bordered heading-hvr" style="text-align:center;">    
         <thead>                          
      
                        <tr>    
                          <th style="cursor: pointer;"    
                             width="80">Id</th>    
                          <th style="cursor: pointer;"     
                             width="75">UserName</th>    
                          <th  style="cursor: pointer;"    
                            >UserType    
                          </th>    
                          <th style="cursor: pointer;"     
                            width="75">Email  
                          </th>                           
                  
                        <th style="cursor: pointer;"     
                        width="75">Status  
                      </th>
                          <th  style="cursor: pointer; width:250px"    
                            >Profile</th> 
                            <th  style="cursor: pointer; width:250px"    
                            width="75">Action</th>               
                        </tr>

                      </thead>    
                      <tbody  style="text-align:center;">    
                        <tr *ngFor="let item of Users ">
                         
                        <td>{{item.id}}</td>
                          <td style="color:rgb(8, 168, 228);cursor: pointer;"  (click)="onEdit(item)">{{item.userName}}</td>
                        <td>{{item.userType}}</td>
                        <td>{{item.email}}</td>
                

                          <td>{{item.status}}</td>  
                       
                          <td><div><img style="height:32px;width:32px;border-radius:20px;" src="{{item.profile}}" /></div></td>                
               
                       
                          <td id="td">
                            <button id="deactive"  style="margin:5px;"  class="btn btn-danger" (click)="onDelete(item.id)">DeActive</button> 
                            <button id="active" style="margin:5px;"  class="btn btn-success" (click)="onActive(item.id)">Active</button> 
                     
                        </td>    
                        </tr>                         
                      </tbody>    
                    </table>    
                  </div>    
                  <div class="container mw-100">    
                    <div class="row">    
                      <div class="col-md-3"> </div>    
                      <div class="col-md-6">    
                        <ul class="pagination justify-content-center">    
                          <li *ngFor="let page of pageField;let i=index" class="page-item">    
                            <a (click)="showCompaniesByPageNumber(page,i)" [ngClass]="pageNumber[i] ? 'pageColor':'page-link'"    
                              style=" margin-right: 5px;;margin-top: 5px">{{page}}</a>    
                          </li>    
                        </ul>    
                        <div style="text-align: center;">    
                          Page {{pageNo}} of Total page {{service.exactPageList}}
          
                        </div>    
                      </div>    
                    </div>    
                  </div>    
                </div>    
              </div>    
            </div>

  