<div class="container" >
  
  <header>
  
      <div id="container1" class="container1">     
       <app-dashboard></app-dashboard>
      </div>
  </header>
 <main>
    <router-outlet></router-outlet>    
  </main>
</div>