<!-- <html>
<body>
<form #form="ngForm" autocomplete="on" (submit)="onSubmit(form)">
    <div class="form-group">
        <input type="hidden" name="ID" [value]="service.FormData.id">

        <label>Title</label>
        <input name="Title" #Title="ngModel" [(ngModel)]="service.FormData.Title" class="form-control" placeholder="Enter Title" required><br>
        <div *ngIf="Title.invalid && (Title.dirty|| Title.touched)"
         class="alert alert-danger">
         <div *ngIf="Title.errors.required">
            Title Name is required.
          </div>
        </div>

        <label>Name</label>
        <input name="Name" #Name="ngModel" [(ngModel)]="service.FormData.Name" class="form-control" placeholder="Enter Name" required><br>
        <div *ngIf="Name.invalid && (Name.dirty|| Name.touched)"
         class="alert alert-danger">
         <div *ngIf="Name.errors.required">
            Name is required.
          </div>
        </div>

        <label>Description</label>
        <input name="Description" #Description="ngModel" [(ngModel)]="service.FormData.Description" class="form-control" placeholder="Enter Description" required><br>
        <div *ngIf="Description.invalid && (Description.dirty || Description.touched)"
         class="alert alert-danger">
         <div *ngIf="Description.errors.required">
            Description is required.
          </div>
        </div>

        <label>Designation</label>
        <input type="Designation" name="Designation" maxlength="10" #Designation='ngModel' [(ngModel)]="service.FormData.Designation" class="form-control" placeholder="Enter Designation" required><br>
        <div *ngIf="Designation.invalid && (Designation.dirty || Designation.touched)"
         class="alert alert-danger">
        <div *ngIf="Designation.errors.required">Designation is required.</div>           
        </div>

        <label>createdBy</label>
        <input type="createdBy" name="createdBy" maxlength="10" #createdBy='ngModel' [(ngModel)]="service.FormData.createdBy" class="form-control" placeholder="Enter createdBy" required><br>
        <div *ngIf="createdBy.invalid && (createdBy.dirty || createdBy.touched)"
         class="alert alert-danger">
        <div *ngIf="createdBy.errors.required">createdBy is required.</div>           
        </div>

        <label>Image</label>
        
      <img id="Image"name="Image" style="height:150px;width:150px;border-radius:50%;" [src]="imageUrl"  > 
        <input type="file" name="Image"  #Image='ngModel' [(ngModel)]="service.FormData.Image" class="form-control" (change)="handleFileInput($event.target.files)" ><br>
        <div *ngIf="Image.invalid && (Image.dirty || Image.touched)"
         class="alert alert-danger">
          <div *ngIf="Image.errors.required">
             Please select any one image.
          </div> 
          </div>   

        <button type="submit" [disabled]="form.invalid" class="btn btn-primary" click=onSubmit >Submit</button><br><br>


      </div>
    </form>
    
</body>
</html> -->

<!DOCTYPE html>
<html lang="en">
<body>
  <section id="container">
    <section id="main-content">
      <section class="wrapper">
        <html>
          <body>
          <form #form="ngForm" autocomplete="on" (submit)="onSubmit(form)">
              <div class="form-group">
                  <input type="hidden" name="ID" [value]="service.FormData.id">
          
                  <label>Title</label>
                  <input name="Title" #Title="ngModel" [(ngModel)]="service.FormData.Title" class="form-control" placeholder="Enter Title" required><br>
                  <div *ngIf="Title.invalid && (Title.dirty|| Title.touched)"
                   class="alert alert-danger">
                   <div *ngIf="Title.errors.required">
                      Title Name is required.
                    </div>
                  </div>
          
                  <label>Name</label>
                  <input name="Name" #Name="ngModel" [(ngModel)]="service.FormData.Name" class="form-control" placeholder="Enter Name" required><br>
                  <div *ngIf="Name.invalid && (Name.dirty|| Name.touched)"
                   class="alert alert-danger">
                   <div *ngIf="Name.errors.required">
                      Name is required.
                    </div>
                  </div>
          
                  <label>Description</label>
                  <input name="Description" #Description="ngModel" [(ngModel)]="service.FormData.Description" class="form-control" placeholder="Enter Description" required><br>
                  <div *ngIf="Description.invalid && (Description.dirty || Description.touched)"
                   class="alert alert-danger">
                   <div *ngIf="Description.errors.required">
                      Description is required.
                    </div>
                  </div>
          
                  <label>Designation</label>
                  <input type="Designation" name="Designation" maxlength="10" #Designation='ngModel' [(ngModel)]="service.FormData.Designation" class="form-control" placeholder="Enter Designation" required><br>
                  <div *ngIf="Designation.invalid && (Designation.dirty || Designation.touched)"
                   class="alert alert-danger">
                  <div *ngIf="Designation.errors.required">Designation is required.</div>           
                  </div>
          
                  <label>createdBy</label>
                  <input type="createdBy" name="createdBy" maxlength="10" #createdBy='ngModel' [(ngModel)]="service.FormData.createdBy" class="form-control" placeholder="Enter createdBy" required><br>
                  <div *ngIf="createdBy.invalid && (createdBy.dirty || createdBy.touched)"
                   class="alert alert-danger">
                  <div *ngIf="createdBy.errors.required">createdBy is required.</div>           
                  </div>
          
                  <label>Image</label>
                  
                <img id="Image"name="Image" style="height:150px;width:150px;border-radius:50%;" [src]="imageUrl"  > 
                  <input type="file" name="Image"  #Image='ngModel' [(ngModel)]="service.FormData.Image" class="form-control" (change)="handleFileInput($event.target.files)" ><br>
                  <div *ngIf="Image.invalid && (Image.dirty || Image.touched)"
                   class="alert alert-danger">
                    <div *ngIf="Image.errors.required">
                       Please select any one image.
                    </div> 
                    </div>   
          
                  <button type="submit" [disabled]="form.invalid" class="btn btn-primary" click=onSubmit >Submit</button><br><br>
          
          
                </div>
              </form>
              
          </body>
          </html>
      
  </section>

